<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>



  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
    <ul>
    <% @line_items.each do |item|%>

      <li>

       <div class="col-sm-4">
        <%= image_tag item.product.image, class: 'main-img', size: "220"%>

      </div>
        <dt>Name</dt>
          <dd><%= item.product.name %></dd>
          <dt>Description</dt>
          <dd><%= item.product.description %></dd>
          <dt>Quantity Order</dt>
          <dd><%= item.quantity %></dd>
          <dt>Price</dt>
          <dd> <strong><%= real_price(item.item_price_cents) %> </strong></dd>

      </li>
      <% end %>
    </ul>
    Final amount of the order for <%= @order.email%> : <strong><%= total_amount(@line_items)%></strong>

  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
